aiohappyeyeballs==2.4.0
asttokens==2.0.8
blinker==1.6.2
Brotli==1.0.9
certifi==2024.8.30
click==8.1.7
frozenlist==1.4.0
multidict==6.0.4
orjson==3.10.11
platformdirs==3.10.0
pyasn1==0.4.8
pycparser==2.21
PySocks==1.7.1
six==1.16.0
tensorboard-data-server==0.6.1
typing_extensions==4.13.2
wheel==0.44.0
xlwt==1.3.0
aiosignal==1.2.0
h5py==3.7.0
mkl-service==2.4.0
rsa==4.7.2
setuptools==63.4.1
ujson==5.5.0
yarl==1.11.0
aiohttp==3.10.5
contourpy==1.0.5
Markdown==3.4.1
pip==22.1.2
redis==4.4.0
tensorboard-plugin-wit==1.8.1
oauthlib==3.2.2
pooch==1.7.0
pyOpenSSL==23.2.0
mkl-fft==1.3.1
mkl-random==1.2.2
scipy==1.10.1
lightgbm==4.5.0
yapf==0.32.0
wcwidth==0.2.13
Wand==0.6.10
sortedcontainers==2.4.0
redispy==3.0.0
randomcolor==0.4.4.6
pytz==2022.2.1
pure-eval==0.2.2
ptyprocess==0.7.0
pickleshare==0.7.5
pickle5==0.0.11
nvidia-ml-py3==7.352.0
nose==1.3.7
ninja==1.11.1
netron==8.0.9
netifaces==0.11.0
namedlist==1.8
msgpack==1.0.4
mprop==0.16.0
mpmath==1.3.0
logger==1.4
ijson==3.3.0
gitignore_parser==0.1.11
flatbuffers==1.12
ffmpeg==1.4
executing==1.0.0
exbranch==0.4.0.1
easydict==1.9
durationpy==0.5
dotmap==1.3.30
dlib==19.24.0
confluent-kafka==2.3.0
colored==1.4.4
collection==0.1.6
backcall==0.2.0
antiorm==1.2.1
addict==2.4.0
zope.interface==5.4.0
zope.event==4.5.0
zipp==3.8.1
youtokentome==1.0.6
xmltodict==0.13.0
xlrd==2.0.1
wrapt==1.14.1
wirerope==0.4.7
websocket-client==1.7.0
pyzmq==24.0.0
urllib3==1.26.20
typing==3.7.4.3
typeguard==2.13.3
traitlets==5.4.0
token-bucket==0.3.0
threadpoolctl==3.1.0
termcolor==2.0.1
tabulate==0.8.10
sympy==1.12
soupsieve==2.6
smmap==5.0.1
smart-open==6.2.0
Shapely==1.8.4
setproctitle==1.3.2
serpent==1.41
ruamel.yaml.clib==0.2.8
regex==2024.5.15
PyYAML==5.4.1
python-statemachine==2.1.2
python-magic==0.4.27
python-dateutil==2.8.2
pyrsistent==0.19.2
pyparsing==3.0.9
Pympler==1.0.1
cachetools==5.2.0
PyJWT==2.4.0
Pygments==2.13.0
pybind11==2.6.2
pyasn1-modules==0.3.0
psutil==5.9.2
protobuf==3.19.6
prompt-toolkit==3.0.31
prettytable==3.7.0
portalocker==2.6.0
plumbum==1.7.2
pkgutil_resolve_name==1.3.10
pkgconfig==1.5.5
Pillow==9.2.0
pexpect==4.8.0
pathlib2==2.3.7.post1
parso==0.8.3
bcrypt==4.0.1
packaging==24.2
orderedmultidict==1.0.1
numpy==1.24.4
networkx==3.1
mdurl==0.1.2
MarkupSafe==2.1.1
lz4==4.3.3
loguru==0.6.0
leven==1.0.4
lazy_loader==0.2
kiwisolver==1.4.4
joblib==1.2.0
jmespath==1.0.1
itsdangerous==2.1.2
idna==3.4
humanfriendly==10.0
grpcio==1.34.1
greenlet==1.1.3
ftfy==6.2.0
fonttools==4.37.3
filelock==3.8.0
eval_type_backport==0.2.2
editdistance==0.6.0
docutils==0.16
dnspython==2.6.1
diskcache==5.4.0
decorator==5.1.1
db==0.1.1
Cython==0.29.32
cycler==0.11.0
colorama==0.4.4
cloudpickle==1.4.1
click-aliases==1.0.5
cffi==1.17.1
charset-normalizer==2.1.1
attrs==22.1.0
argcomplete==3.5.1
affine==2.4.0
absl-py==1.3.0
Werkzeug==3.0.6
torch==1.12.0
tifffile==2023.4.12
tensorboardX==2.0
stack-data==0.5.0
ruamel.yaml==0.18.6
pydantic==2.10.6
PyWavelets==1.4.1
Pyro4==4.82
PyNaCl==1.5.0
pymongo==4.10.1
pykdtree==1.3.5
pygit2==1.13.3
pydot==2.0.0
pydantic_core==2.27.2
pandas==1.5.2
opencv-python-headless==4.11.0.86
natsort==8.4.0
onnx==1.11.0
msgpack-numpy==0.4.8
methodtools==0.4.7
matplotlib-inline==0.1.6
markdown-it-py==3.0.0
loky==3.4.0
jsonlines==3.1.0
Jinja2==3.1.2
jedi==0.18.1
importlib-resources==5.10.0
python-consul==1.1.0
importlib-metadata==4.12.0
imageio==2.28.1
google-auth==2.13.0
gitdb==4.0.11
gevent==21.12.0
furl==2.1.3
elasticsearch==7.17.9
Deprecated==1.2.13
cryptography==42.0.4
coloredlogs==15.0.1
beautifulsoup4==4.12.3
annotated-types==0.7.0
torchvision==0.13.0
thop==0.1.1-2209072238
scikit-learn==1.1.2
scikit-image==0.21.0
s3transfer==0.6.0
rich==13.7.0
requests-toolbelt==1.0.0
requests-oauthlib==1.3.1
prat-geventwebsocket==0.9.5
paramiko==3.0.0
onnxruntime==1.17.0
onnxoptimizer==0.3.13
matplotlib==3.6.0
magma-tools==1.7.0
kornia==0.6.12
jsonschema==4.17.0
IQA-pytorch==0.1
ipython==8.5.0
influxdb==5.3.1
google==3.0.0
GitPython==3.1.43
Flask==3.0.3
expmonkey==0.0.35
albucore==0.0.17
sklearn==0.0
pycocotools==2.0.7
onnx-simplifier==0.4.35
object-detection-metrics-fast==0.5.2
lovelive-namingservice==1.35
kubernetes==29.0.0
imgaug==0.4.0
google-auth-oauthlib==0.4.6
filterpy==1.4.5
DPFlow==0.1.18
clearml==1.7.2
boto3==1.24.76
awscli==1.25.78
albumentations==1.4.18
tensorboard==2.10.1
rrun==1.13.1
megfile==2.2.10.post1
refile==7.2.9
MegBrain==8.20.4+cu118
eval-service==0.71
dplink==0.1.31
basecore==0.1.10
restore==4.4.1
MegSkull==4.12.0
lovelive-sdk==1.82.73
brainpp==2.6.4
axion-megengine==0.4.2.1
rrun2077==2077.1.11
nori2==1.12.3
neupeak-soul==0.3.14
MegHair==4.11.0
balls==0.0.115
pie3==0.0.236
neupeak==0.4.0
basedet==0.3.0
palm-tools==0.0.8
opencv-contrib-python==4.12.0.88
opencv-python==4.12.0.88
motmetrics==1.4.0
tomli==2.3.0
ipdb==0.13.13
timm==1.0.20
mgeconvert==2.3.15
onnxsim==0.4.36
async-timeout==4.0.3
aioitertools==0.12.0
botocore==1.37.3
aiobotocore==2.22.0
s3fs==2024.10.0
xxhash==3.6.0
tqdm==4.67.1
requests==2.32.4
pyarrow==17.0.0
hf-xet==1.2.0
fsspec==2024.9.0
dill==0.3.8
multiprocess==0.70.16
huggingface-hub==0.36.0
datasets==3.1.0
einops==0.8.1
safetensors==0.5.3
tokenizers==0.20.3
transformers==4.46.3
sentry-sdk==2.46.0
wandb==0.23.0
